In [51]:
import numpy as np
import pandas as pd
import seaborn as sns
from sklearn.preprocessing import MinMaxScaler
import matplotlib as mtp
import warnings

In [55]:
df=pd.read_csv("Wholesale customers data.csv")
df

,Channel,Region,Fresh,Milk,Grocery,Frozen,Detergents_Paper,Delicassen
0,2,3,12669,9656,7561,214,2674,1338
1,2,3,7057,9810,9568,1762,3293,1776
2,2,3,6353,8808,7684,2405,3516,7844
3,1,3,13265,1196,4221,6404,507,1788
4,2,3,22615,5410,7198,3915,1777,5185
...,...,...,...,...,...,...,...,...
435,1,3,29703,12051,16027,13135,182,2204
436,1,3,39228,1431,764,4510,93,2346
437,2,3,14531,15488,30243,437,14841,1867
438,1,3,10290,1981,2232,1038,168,2125
439,1,3,2787,1698,2510,65,477,52

In [56]:
df.isnull().sum()

Channel             0
Region              0
Fresh               0
Milk                0
Grocery             0
Frozen              0
Detergents_Paper    0
Delicassen          0
dtype: int64

In [59]:
df.duplicated().sum()

0

In [61]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 440 entries, 0 to 439
Data columns (total 8 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   Channel           440 non-null    int64
 1   Region            440 non-null    int64
 2   Fresh             440 non-null    int64
 3   Milk              440 non-null    int64
 4   Grocery           440 non-null    int64
 5   Frozen            440 non-null    int64
 6   Detergents_Paper  440 non-null    int64
 7   Delicassen        440 non-null    int64
dtypes: int64(8)
memory usage: 27.6 KB

In [63]:
df.describe()

,Channel,Region,Fresh,Milk,Grocery,Frozen,Detergents_Paper,Delicassen
count,440.000000,440.000000,440.000000,440.000000,440.000000,440.000000,440.000000,440.000000
mean,1.322727,2.543182,12000.297727,5796.265909,7951.277273,3071.931818,2881.493182,1524.870455
std,0.468052,0.774272,12647.328865,7380.377175,9503.162829,4854.673333,4767.854448,2820.105937
min,1.000000,1.000000,3.000000,55.000000,3.000000,25.000000,3.000000,3.000000
25%,1.000000,2.000000,3127.750000,1533.000000,2153.000000,742.250000,256.750000,408.250000
50%,1.000000,3.000000,8504.000000,3627.000000,4755.500000,1526.000000,816.500000,965.500000
75%,2.000000,3.000000,16933.750000,7190.250000,10655.750000,3554.250000,3922.000000,1820.250000
max,2.000000,3.000000,112151.000000,73498.000000,92780.000000,60869.000000,40827.000000,47943.000000

In [65]:
df.head(9)

   Channel  Region  Fresh  Milk  Grocery  Frozen  Detergents_Paper  Delicassen
0        2       3  12669  9656     7561     214              2674        1338
1        2       3   7057  9810     9568    1762              3293        1776
2        2       3   6353  8808     7684    2405              3516        7844
3        1       3  13265  1196     4221    6404               507        1788
4        2       3  22615  5410     7198    3915              1777        5185
5        2       3   9413  8259     5126     666              1795        1451
6        2       3  12126  3199     6975     480              3140         545
7        2       3   7579  4956     9426    1669              3321        2566
8        1       3   5963  3648     6192     425              1716         750

In [67]:
df#here we dropped channel and region  col

,Channel,Region,Fresh,Milk,Grocery,Frozen,Detergents_Paper,Delicassen
0,2,3,12669,9656,7561,214,2674,1338
1,2,3,7057,9810,9568,1762,3293,1776
2,2,3,6353,8808,7684,2405,3516,7844
3,1,3,13265,1196,4221,6404,507,1788
4,2,3,22615,5410,7198,3915,1777,5185
...,...,...,...,...,...,...,...,...
435,1,3,29703,12051,16027,13135,182,2204
436,1,3,39228,1431,764,4510,93,2346
437,2,3,14531,15488,30243,437,14841,1867
438,1,3,10290,1981,2232,1038,168,2125
439,1,3,2787,1698,2510,65,477,52

In [79]:
scaler=MinMaxScaler()
df_scaled=scaler.fit_transform(df)
#df_scaled=pd.DataFrame(df_scaled,columns=df.columns)
print(df_scaled)

[[1.00000000e+00 1.00000000e+00 1.12940044e-01 ... 3.10630465e-03
  6.54271997e-02 2.78473091e-02]
 [1.00000000e+00 1.00000000e+00 6.28990263e-02 ... 2.85484189e-02
  8.05898491e-02 3.69837297e-02]
 [1.00000000e+00 1.00000000e+00 5.66216072e-02 ... 3.91164289e-02
  8.60523222e-02 1.63558615e-01]
 ...
 [1.00000000e+00 1.00000000e+00 1.29543104e-01 ... 6.77141542e-03
  3.63462669e-01 3.88819358e-02]
 [0.00000000e+00 1.00000000e+00 9.17270036e-02 ... 1.66491355e-02
  4.04174015e-03 4.42636629e-02]
 [0.00000000e+00 1.00000000e+00 2.48243393e-02 ... 6.57418973e-04
  1.16108172e-02 1.02211097e-03]]

In [81]:
scaler=MinMaxScaler()
df_scaled=scaler.fit_transform(df)
df_scaled=pd.DataFrame(df_scaled,columns=df.columns)
print(df_scaled)

     Channel  Region     Fresh      Milk   Grocery    Frozen  \
0        1.0     1.0  0.112940  0.130727  0.081464  0.003106
1        1.0     1.0  0.062899  0.132824  0.103097  0.028548
2        1.0     1.0  0.056622  0.119181  0.082790  0.039116
3        0.0     1.0  0.118254  0.015536  0.045464  0.104842
4        1.0     1.0  0.201626  0.072914  0.077552  0.063934
..       ...     ...       ...       ...       ...       ...
435      0.0     1.0  0.264829  0.163338  0.172715  0.215469
436      0.0     1.0  0.349761  0.018736  0.008202  0.073713
437      1.0     1.0  0.129543  0.210136  0.325943  0.006771
438      0.0     1.0  0.091727  0.026224  0.024025  0.016649
439      0.0     1.0  0.024824  0.022371  0.027022  0.000657

     Detergents_Paper  Delicassen
0            0.065427    0.027847
1            0.080590    0.036984
2            0.086052    0.163559
3            0.012346    0.037234
4            0.043455    0.108093
..                ...         ...
435          0.004385    0.045912
436          0.002205    0.048874
437          0.363463    0.038882
438          0.004042    0.044264
439          0.011611    0.001022

[440 rows x 8 columns]